@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives:  https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* styles.css */
.neon-line {
    height: 6px; /* Espessura da linha */
    width: 100%; /* Largura total */
    background-color: white; /* Cor de base branca */
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white; /* Efeito neon */
}


